$golden-ratio : 1.68em;


.shell-wrapper {
    height: 500px;
    background: #4D4D4D;
    border-radius: .4em;
    .shell-nav{
        position: relative;
        border-radius: .4em .4em 0 0;
        background: #DFDFDF;
        color: rgb(0, 0, 0);
        height: $golden-ratio;
        width: 100%;
        img {
            width: 1.3em;
            padding: .3em .0em .2em .4em;
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .shell-content{
        padding: 1em;
        color: #13b93f;
        .shebang {
            color: #13aa3b;
        }
        input{
            background: transparent;
            outline: none;
            border: none;
            color: white;
            font-size: 1em;
        }
        .commands{
            color: white;
            font-size: 1em;
        }
    }
    
}
